<!DOCTYPE html>
<html lang="en">
<head>
Ben Strich - strichben@gmail.com
Daniel Jeranko - daniel@skittle.cc
Maxim Tjan - maxim@skittle.cc 
    <style>
            .back-button {
                position: absolute;
                top: 10px;
                left: 50px;
                color: white;
                background: rgba(0, 0, 255, 0.5); /* Semi-transparent blue background */
                border: none;
                padding: 10px;
                border-radius: 5px;
                z-index: 400;
            }
    </style>
</head>
<body>
    <a href="/" class="btn btn-primary back-button">&#8592;</a>
</body>
</html>