<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/icon.ico">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Gather</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background: linear-gradient(rgb(255, 98, 0), purple); color: white; background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
    <a href="/manageGather" class="btn btn-primary back-button">&#8592;</a>
    <header>
        <h1>Edit your Gather</h1>
    </header>

    <div class="container mt-3">
        <div class="row">
            <!-- Left-aligned Form Section -->
            <div class="col-md-6">
                <div class="form-container" style="background-color: rgba(43, 43, 43, 0.264); padding: 20px; border-radius: 10px;">
                    <h2>Edit Gather</h2>
                    <form action="/saveChanges" method="POST">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" name="name" value="{{Gather.name}}" placeholder="Enter new Name">
                        </div>
                        <div class="mb-3">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" class="form-control" name="location" value="{{Gather.location}}" placeholder="Enter new Location">
                        <!-- New input field for Date -->
                        <div class="form-group">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" name="date" value="{{Gather.Date}}" placeholder="Select a date" min="2023-12-19" max="3000-12-31">
                        </div>
                        <!-- New input field for Time -->
                        <div class="form-group">
                            <label for="time" class="form-label">time</label>
                            <input type="time" class="form-control"  name="time" value="{{Gather.Time}}" placeholder="Select a time">
                        </div>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input class="form-control" name="description"  rows="3" value="{{Gather.description}}" placeholder="Enter new Description"></input>
                        </div>
                        <input type="hidden" name="gather_id" value="{{Gather.id}}">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
            </div>

            <!-- Guestlist -->
            <div class="col-md-6">
                <div class="guestlist-container" style="background-color: rgba(43, 43, 43, 0.264); padding: 15px; border-radius: 10px;">
                    <h2>Guestlist</h2>
                    {% for user in Gather.users %}
                        <div class="guest-container" style="background-color: rgba(0, 0, 0, 0.1); margin-bottom: 10px; padding: 10px; border-radius: 5px; display: flex; justify-content: space-between; align-items: center;">
                            <p style="margin-bottom: 0;">{{ user.email }}</p>
                            <!-- Kick guests -->
                            <form action="/kickUser" method="POST" style="margin-bottom: 0;">
                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                <input type="hidden" name="gather_id" value="{{ Gather.id }}">
                                <button type="submit" class="btn btn-danger kick-button">Kick</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-buttons">  
    <form action="/deleteGather" method="POST">
        <button type="submit" class="btn btn-danger">delete Gather</button>
        <input type="hidden" name="gather_id" value="{{Gather.id}}">
        
    </form>
</div>
</body>
<style>
.fixed-bottom.text-center {
    left: 50%;
    transform: translateX(-50%);
}

.bottom-buttons {
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    text-align: center;
}
.kick-button {
    visibility: hidden;
}

.guestlist-container{
    min-height: 520px;
    max-height: 520px;
    overflow-y: auto;
}

.guest-container:hover .kick-button {
    visibility: visible;
        	
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background: rgba(0, 0, 255, 0.5);
    border: none;
    padding: 10px;
    border-radius: 5px;
}
header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 10;
}
</style>
</html>